.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #222;
}

.video-container video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.video-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}