body {
  font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
  overflow: hidden;
  /* position: fixed; */
  width: 100%;
  height: 100%;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #222;
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}


.video-container video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.video-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}



/* BASED OFF: https://codepen.io/rahuldotdev/pen/rNvQGBg  */
input[type="file"] {
  margin: auto;
  padding: 1.5em;
  border: 4px dashed #bbb;
  transition: border-color .25s ease-in-out;
  &::file-selector-button{
    padding: 2.2em 6.5em;
    border-width: 0;
    border-radius: 2em;
    background-color: hsl(286, 70%, 30%);
    transition: all .25s ease-in-out;
    cursor: pointer;
    margin-right: 1em;
  }
  &:hover {
    border-color: #888;
    &::file-selector-button{
      background-color: hsl(286 70% 20%);
    }
  }
}



/* BASED OFF: https://codepen.io/markcaron/pen/RVvmaz */
.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
}

.accordion label {
  display: block;
}

/*
 Styling
*/

.form-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Or a specific height for the parent */
}

.accordion {
  margin-top: -2em;
  margin-bottom: 1em;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  padding: 15px;
  border: 1px solid hsl(286, 70%, 30%);
  border-top: 0;
  overflow-y: auto;
  height: 33vh;
}

.accordion .handle {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.2em;
}

.accordion label {
  color: white;
  cursor: pointer;
  font-weight: normal;
  padding: 15px;
  background: hsl(286, 70%, 30%);
}

.accordion label:hover,
.accordion label:focus {
  background: hsl(286, 70%, 20%);
}

.accordion .handle label:before {
  font-family: 'fontawesome';
  display: inline-block;
  content: "\25B6";
  margin-right: 10px;
  font-size: .58em;
  line-height: 1.556em;
  vertical-align: middle;
}

.accordion > input[type="checkbox"]:checked ~ .handle label:before {
  content: "\25BC";
}


/*  */

ul {
  column-count: 2; /* Divides the list into two columns */
  column-gap: 20px; /* Adds space between the columns */
  /* Optional: Add vendor prefixes for broader browser support if needed */
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
}